temp_model/
catboost_info/
charts/
temp_model/best_xgb_model.pkl
filtered_tickers_with_names.xlsx
genre_scores.xlsx
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/tmp/cat_feature_index.890a92bc-170822ef-390d2ec4-b41e4545.tmp
temp_model/
temp_model/best_cat_model.pkl
temp_model/best_lgb_model.pkl
temp_model/best_xgb_model.pkl
分析/

optimized_parameters.json
